---
import Button from "../Componenter/Button.astro"
import MainLayouts from "../layouts/MainLayouts.astro"
---
<MainLayouts>
<Button variant="primary" size="small">
	Klik her
</Button>

</MainLayouts>